.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-cl-bc);
    margin-right: 93px;

    &__title--dark-theme {
        color: var(--contrast-dark-txt-bc);
    }
    
    &__title--light-theme {
        color: var(--contrast-light-txt-bc);
    }
}
