.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
    fill: var(--accent-cl-bc)
}

.mobile-menu__icon--burger {
  transition: var(--anim);

  .mobile-menu-btn.is-open & {
    opacity: 0;
  }
}

.mobile-menu__icon--close {
  opacity: 0;
  fill: var(--basic-txt-title);
  transition: var(--anim);

  .mobile-menu-btn.is-open & {
    opacity: 1;
  }
}

// Mobile menu styles

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  display: flex;
  flex-direction: column;

  background-color: #fff;

    &.is-open {
      z-index: 1;
    transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--basic-txt-title);
}

.mobile-menu-nav--current {
  color: var(--accent-cl-bc);
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-contacts-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--basic-txt-subtitle);
}

.mobile-menu-contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu-contacts-accent {
    font-size: 34px;
    line-height: 1.18;
    color: var(--accent-cl-bc);
  }
}

.mobile-menu-socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.mobile-menu-socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-cl-bc);
}

.mobile-menu-socials-item:not(:last-child) .mobile-menu-socials-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
