.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--basic-txt-title);

    @media screen and (min-width: 1200px) {
            font-size: 36px;
                line-height: 1.17;
    }

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}