/* Feature section */

.feature {
  @media screen and (min-width: 1200px) {
      padding-bottom: 0;
    }
  }

.feature__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;

  width: 450px;
  height: 120px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.feature__subtitle {
  margin-bottom: 10px;
}

.feature__subtitle--basic {
  color: var(--basic-txt-title);
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
