/* Footer section */

.footer {
  padding: 60px 0;
  background-color: var(--dark-bc);
}

.footer-container {
  display: block;
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
    text-align: start;
  }
}

.footer-contact--box {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer-contact__address {
  display: inline-block;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    margin-left: 76px;
    margin-right: 0%;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0px;
  }
}

.footer-logo {
  display: block;
  // width: 145px;
  margin-bottom: 20px;
}

.footer-contact {
  width: 232px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    margin-bottom: 55px;
  }

  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}

.footer-contact-link {
  color: var(--contrast-light-txt-bc);

  transition: color var(--anim);

  &:hover,
  &:focus {
    color: var(--accent-cl-bc);
  }
}

.footer-contact-item {
  margin-top: 8px;
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

.footer-contact-list {
  color: var(--font-txt-cl);

  transition: color var(--anim);

  &:hover,
  &:focus {
    color: var(--accent-cl-bc);
  }
}

.subtitle-social {
  margin-bottom: 20px;

  color: #ffffff;
}

.social-media-group {
  margin: 60px auto;

  @media screen and (min-width: 768px) {
    margin-top: 5px;
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    margin-left: 70px;
  }
}

.subscribe-group {
  @media screen and (min-width: 768px) {
    margin-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    margin-left: 93px;
  }
}

.subscribe-form {
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.subscribe-form-input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;

  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  cursor: pointer;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    padding-left: 16px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe-form-send {
  position: relative;
  width: 200px;

  margin-left: auto;
  margin-right: auto;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  padding-left: 29px;

  width: 200px;
  height: 50px;
}

.subscribe-btn-icon {
  position: absolute;
  top: 13px;
  bottom: 13px;
  right: 28px;

  fill: var(--contrast-light-txt-bc);
}
