/* Header section */

.header {
  background-color: var(--contrast-light-txt-bc);

  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 92px;
  }
}

.header__contact {
  display: none;
  margin-left: auto;

  @media screen and (min-width: 768px) {
     display: block;
    }
}
