/* Hero section */

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding: 118px 0;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }

  background-color: var(--dark-bc);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;

  background-image: (linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bg_sm.jpg);

  // Для ретіна екранів мобільна версія
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: (linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bg_sm@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: (linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bg_md.jpg);

    // Для ретіна екранів планшетна версія
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: (linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bg_md@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: (linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bg_lg.jpg);

    // Для ретіна екранів десктопна версія
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: (linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bg_lg@2x.jpg);
    }
  }
}

.hero__title {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--contrast-light-txt-bc);

  @media screen and (min-width: 1200px) {
    width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 50px;

  @media screen and (min-width: 1200px) {
    width: 216px;
  }

  transition: background-color var(--anim);

  &:hover,
  &:focus {
    background-color: var(--hover-focus-btn-bc);
  }
}
