/* Work section */
.work {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }
}

.work__list {
    --items: 3;
}

.work__item {
    position: relative;
}

.work__subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 27px;

    text-align: center;
}

.work__subtitle--light-theme {
    color: var(--contrast-light-txt-bc);
    background-color: rgba(47, 48, 58, 0.8);
}